{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/logo/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/sidebar.js' %}" defer></script>
    <title>Customer Protection QA</title>
</head>
<body>
{% include 'fragments/sidebar.html' %}
    {% block content %}


    {% endblock %}
<script type="text/javascript" src="{% static 'js/search_script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pw_icon.js' %}"></script>
</body>
</html>