.evaluation-widget {
    padding:0 0 0 0;
    margin: 3.5rem 3.5rem auto 3.5rem;
    border-radius: 1rem;
    background-color: var(--base-clr);
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    position: relative;

}

.tabs {
    --tab-count: 2;
    --active: 0;
    position: relative;
    display: flex;
    isolation: isolate;
    height: 3.5rem;
    border-block-end: 1px solid var(--base-clr);
}

.tabs input {
    display: none;
}

.tabs label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.94rem;
    font-weight: 600;
    color:  var(--secondary-text-clr);
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    z-index:2;
}

.tabs input:checked + label {
    color: var(--secondary-text-clr);
}

.tabs::after {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    content: "";
    inset: 0 0 -1px;
    width: calc((100%/var(--tab-count)) - 1px);
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--base-clr);
    border-block-end: none;
    background-color: var(--accent-clr);
    height: auto;
    min-height:0;

    translate: calc(var(--active) * 100%);
    transition: translate 0.5s ease-in-out;
}

.tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
}
.tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
}

.tab-content {
    color: var(--secondary-text-clr);
    position:relative;
    z-index: 3;
    padding: 1rem;
}

[class^="content-"] {
    display: none;
}

.evaluation-widget:has(.tabs >input:checked:nth-of-type(1)) .content-criteria {
    display: block;
}
.evaluation-widget:has(.tabs >input:checked:nth-of-type(2)) .content-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.content-criteria {
    display: flex;
    flex-direction: column;
}

.criteria-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid var(--secondary-text-clr);

}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid var(--secondary-text-clr);
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  vertical-align: bottom;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-clr);
  border-color: var(--accent-clr);
}

.content-details input[type="checkbox"]:checked::after {
     content: "✔";
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    pointer-events: none;
}

.content-criteria input[type="checkbox"]:checked::after {
    content: "✕";
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    pointer-events: none;
}

.content-details textarea, input {
    width: 100%;
    color: whitesmoke;
}
.content-details textarea {
    flex-grow: 1;
    min-height: 300px;
    resize: vertical;
}

.content-details textarea {
    border-style: 5px solid var(--line-clr);
    border-radius: 6px;
    background-color: var(--line-clr);
    padding: 5px;

}

.content-details input {
    background-color: var(--base-clr);
    border-top: none;
    border-bottom: 2px solid var(--line-clr);
    border-left: none;
    border-right: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.content-details .contact-date {
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
    text-wrap: nowrap;

}

.content-details .ftr {
    padding-left: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="date"] {
    color: whitesmoke;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}


.evaluation-submit-button {
    width: 50%;
    margin: 1rem 0 0 auto;
    padding: 0.5rem;
    cursor:pointer;
    align-self: end;
    color: whitesmoke;
    background-color: var(--line-clr);
    border-color: var(--line-clr);
    border-radius: 9px;
    border-style: solid;
    font-weight: bold;
    transition: background-color 0.5s ease;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    grid-row: 5;
    grid-column: 2;
}

.evaluation-submit-button:hover {
    background-color: var(--accent-clr);
    border-color: var(--accent-clr);
}